[2015-05-27 14:27] teolemon opened #1 "Add Django Rest Framework generator"
First a huge thank you, the app is just great. It would have saved me a lot of time, had I seen it a year ago ;)

Having some kind of Django Rest Framework support would be great, for people building Mobile Apps or AngularJS apps.

[2015-05-27 14:29] teolemon opened #2 "Autogenerating the models from a SQL dump"
It would be great to do that kind of thing
http://stackoverflow.com/questions/1179469/is-it-posible-to-generate-django-models-from-the-database

[2015-05-27 15:21] teolemon opened #3 "FieldError: Unknown field(s) (***) specified for ****"
Having generated a sample app using django_builder, I stumble on

FieldError: Unknown field(s) (slug) specified for icons

[2015-05-27 15:22] teolemon opened #4 "default values for integerfield ?"
I also had to fix a couple of default values for integerfields that django_builder didn't ask me for
lat = DecimalField()
into
lat = DecimalField(decimal_places=1, max_digits=6)

[2015-06-04 19:18] mmcardle commented on #1
Thats a good idea, do you have any boiler plate code for this? I have never used DRF myself so any pointers welcome.

[2015-06-04 19:19] mmcardle commented on #4
I think adding sensible defaults for all fields types should be added.

[2015-06-10 17:25] mmcardle commented on #4
I have added some defaults for some of the model fields

[2015-06-10 17:25] #4 closed

[2015-06-14 13:45] teolemon commented on #1
I have made some code, but I haven't tested it in real life, so it's hard to propose it.
In addition to the extensive documentation, there's a repo with the source code example of the tutorial (that I followed)
https://github.com/tomchristie/rest-framework-tutorial

[2015-11-04 20:15] illagrenan opened #5 "Enter key in Add model dialog reloads page"
Add model → Type model name → Hit <kbd>ENTER</kbd> reloads the page and model is not added.

[2015-11-10 09:00] mmcardle commented on #5
Fixed!

[2015-11-10 09:00] #5 closed

[2015-11-10 09:01] mmcardle commented on #1
Have added some simple api.py and serializers.py modules.

[2015-11-10 09:01] #1 closed

[2015-11-12 18:54] brendan-sterne opened #6 "Allow the django.contrib.auth User and Group models in relation"
Love this tool!

A suggestion: in "Add Relationship" I should be allowed to choose the builtin User and Group models from contrib.auth.

Bonus:  Perhaps even allow the user to choose any model by name (in case I want to connect with other Django apps).

[2015-11-13 10:33] mmcardle commented on #6
Thats a great idea, ill try to get it in the next release

[2015-12-06 10:56] mmcardle commented on #6
Done

[2015-12-06 10:56] #6 closed

[2016-03-23 16:59] mmcardle opened #7 "Relationship Fields badly formatted"
Relationship field is badly formatted with extra quotes

[code]

[2016-03-24 23:18] #7 closed

[2016-03-30 15:25] ahvega opened #8 "crispy_forms_tags mispelled in generated <model>_form.html Template files"
Line 2 reads:

**`{% load crispy_form_tags %}`**

Should read:

**`{% load crispy_forms_tags %}`**

[2016-03-30 16:14] #8 closed

[2016-04-08 04:44] maxtheman opened #9 "User imported as string in models"
When creating user foreignkeys, Django Builder creates code like

`class Employee(models.Model):
    user = models.OneToOneField('django.contrib.auth.models.user', on_delete=models.CASCADE)`

This can cause weird errors and doesn't import User correctly anyway. The "right" output would be:

`from django.contrib.auth.models import User

class Employee(models.Model):
    user = models.OneToOneField(

[2016-04-08 07:53] mmcardle commented on #9
Thanks for the info, ill get a fix for that.

Was this importing a models.py or manually creating the models?

[2016-04-08 14:02] maxtheman commented on #9
It was manually creating. You should be able to reproduce using the
deployed site.

On Fri, Apr 8, 2016 at 12:53 AM mmcardle <notifications@github.com> wrote:

[2016-04-12 08:28] primoz-k opened #10 "Archive type is not supported"
Hi,
I'm having problems with opening downloaded archive, because it throws "Archive type is not supported".

Am I doing something wrong? How do you extract downloaded file?

I'm using Ubuntu 14.04.

[2016-04-12 12:40] marklyon commented on #10
You may need to rename the downloaded file with a .tar extension.  I am then able to successfully open using [7-Zip](http://www.7-zip.org/) on Windows, though there are plenty of other utilities that can open the [TAR](http://linuxcommand.org/man_pages/tar1.html) file.

[2016-04-12 14:00] primoz-k commented on #10
Thanks, @marklyon , it works!

Would be cool to fix download file with added `.tar` extension.

[2016-04-15 07:18] primoz-k commented on #10
Just checking, @mmcardle , should this be fixed?

[2016-04-16 10:34] mmcardle commented on #10
@primoz-k This should be fixed now, it should now download as <app_name>.tar
What browser where you using for the download? I have tested on Chrome and Firefox

[2016-04-16 10:39] mmcardle commented on #9
@maxtheman  I would like to fix this but I am struggling to reproduce it.

What browser are you using?
Can you recreate from a clean django builder app, and list the steps to reproduce?

Thanks

[2016-04-18 13:04] primoz-k commented on #10
@mmcardle It works now, thank you for the fix.

[2016-04-18 13:04] #10 closed

[2016-04-27 00:45] jameswyse opened #11 "ContentType & GenericForeignKey Support"
Awesome project!
Just have one small request.. would you consider adding support for contenttypes / generic foreign keys?

It basically boils down to:

- Add `django.contrib.contenttypes.models.ContentType` to the list of Django models (like the existing `User` and `Group`)
- Add a `GenericForeignKey` relationship type

Thanks!

[2016-05-02 14:43] mmcardle commented on #11
Thats a great idea.

Just pushed some code to do this

[2016-05-03 07:33] mmcardle commented on #3
Hi , i think this should be fixed, ok to close?

[2016-05-03 07:35] mmcardle commented on #2
Hi teolemon ,

Now that there is a way to import from a models.py file, could this be achieved with inspectdb then upload the result to django_builder?

[2016-05-05 14:38] maxtheman commented on #9
I am unable to reproduce it now. Sorry for the false alarm, let's chalk it up to user error. :-)

[2016-05-05 14:38] #9 closed

[2016-05-27 23:27] peterb154 opened #12 "Need to add import User to models.py"
Need the following import to <app>/models.py

 `from django.contrib.auth.models import User`

when the Foreign Key is of type: django.contrib.auth.models.User

[2016-05-27 23:28] peterb154 opened #13 "Need to add import User to models.py"
Need to the following import to <app>/models.py
from django.contrib.auth.models import User
when the Foreign Key is of type: django.contrib.auth.models.User

[2016-05-27 23:28] peterb154 commented on #13
Sorry, this was a duplicate issue

[2016-05-27 23:28] #13 closed

[2016-05-27 23:30] peterb154 opened #14 "Would love a direct url to <app>.tar"
Would be great if I could copy a URL to a <app>.tar file straight into my shell like this
wget http://mmcardle.github.io/django_builder/#/models/<app>.tar
instead of downloading it through my browser, then uploading it to the server.

Love the app!

[2016-06-11 16:06] mmcardle commented on #14
Hi
Thanks for the request!
Current the download happens using a data:: url generated locally in javascript.
I will take a look at how a remote url could be made.

[2016-08-30 14:16] kptac opened #15 "Django 1.10 support?"
Hi

I've used this in the past and its been very helpful. I suggest making it compatible with 1.10. Like urlpatterns, new fields, etc will be a nice addition.

Keep up the good work.

Also, cant find any donate links.

[2016-08-31 07:56] mmcardle commented on #15
Hi, that is a great idea.
I haven't any projects that use 1.10 yet, but i'll try to get something going.

I haven't set up any donate page, any recommendations gratipay, patreon?
Thanks

[2016-08-31 09:27] kptac commented on #15
I have only used PayPal donations before. Not sure of gratipay or patreon. Message here, whenever you set it up. I can atleast pay for couple of :beers:

[2016-09-05 15:29] christophersbrown commented on #15
Just came across this - very helpful and nice idea!  I second the Django 1.10 idea (and the beer idea).

[2016-09-06 16:45] mmcardle commented on #15
Going to add the following fields

[code]

and also update the url patterns to 1.10 syntax

[code]

Anything else from Django 1.10?

[2016-09-10 18:01] kptac commented on #15
Yes this looks good so far, we can start playing with it and add more in the future. I normally use this to visualize my models properly and having all new fields is good so far.
More features the merrier.

[2016-09-11 01:21] christophersbrown commented on #15
Sounds good mmcardle.  You've touched on the things I had noticed.  Thanks for your efforts on this!

[2016-09-12 08:15] mmcardle commented on #15
@kptac @christophersbrown

This is now live on the main site, as well as a Donate button :)

[2016-09-13 13:12] kptac commented on #15
well done! Donated. Keep up the good work.

[2016-09-21 07:30] mmcardle opened #16 "Import models.py doesn't handle Abstract models"
The following import of a models.py file generates a single model called **Amodel** with all the fields of **Model1** and **Model2**

[code]

[2016-09-21 07:30] #15 closed

[2016-09-21 07:31] mmcardle commented on #2
Hi, this can now be achieved by using inspect db

https://docs.djangoproject.com/en/1.10/ref/django-admin/#django-admin-inspectdb

and then importing the models.py generated by this command

[2016-09-21 07:31] #2 closed

[2016-09-21 07:32] #11 closed

[2016-09-21 07:32] mmcardle commented on #12
added an import for

`from django.contrib.auth import get_user_model`

[2016-10-03 09:40] wengole opened #17 "Allow adding relationship to non-app model"
At the moment it seems you can only add a relationship field to model created in Django Builder, or User or Group (or content types).

I'm trying to create a new app for an existing project and want to add relationships to models in other apps. The UI of Django Builder doesn't allow this.

As far as I can tell, if you could just allow adding a string into that field, that would solve this.

[2016-10-03 09:48] mmcardle commented on #17
Hi, Thanks for the feedback.

Yes that sounds like a good suggestion, allowing a relationship to another app would be simple to do, that is how relationships to **auth.User** work.
Ill try to get a change pushed for that.

[2016-10-04 17:22] mmcardle commented on #17
Hi I have pushed a change if you want to try it out.

[2016-10-05 07:50] wengole commented on #17
Looks good to me :+1:

Tried it with a couple of things with FKs and M2Ms

[2016-10-05 15:07] #3 closed

[2016-10-05 15:07] #12 closed

[2016-10-05 15:07] #17 closed

[2016-10-05 15:59] peterb154 commented on #12
Thanks!

On Oct 5, 2016 11:13 AM, "mmcardle" <notifications@github.com> wrote:

[2016-10-06 01:59] hakunamta00700 opened #19 "unicode issue"
when i upload ".model.py" which use unicode text(korean) as verbose_name in field,  text is broken in generating code via django_builder.

[2016-10-07 08:38] mmcardle commented on #19
HI, Thanks for the feedback.

Do you have a small example models.py you could share?

Thanks

[2016-10-27 19:42] JamesRamm opened #20 "Collaboration"
Would love to be able to share my 'session' with others in order to collaborate on designs...

[2016-11-21 10:54] bradlishman commented on #20
Agreed. Would be great to have a user account, create a project, teams etc.

[2016-11-22 08:37] bradlishman opened #21 "Add "Create Project" as a new function"
In addition to creating models, consider adding the ability to create the project too. The .tar downloaded would then be a complete Django project and app.

[2016-11-22 09:48] mmcardle commented on #21
This is a great idea, I was considering what 3rd party apps to include in any settings file.
I use a few apps like django-configurations, django-debug-toolbar, django-compressor ... etc etc in my boilerplate settings.

I think it might be better to have no 3rd party apps, and just go for the basic project layout you get with

`django-admin.py startproject`

thoughts?

[2016-11-22 09:52] bradlishman commented on #21
Would be good. Keeping things as vanilla as possible makes sense. Main goal with builder is to automate the boring stuff mostly right?

[2016-11-22 09:59] bradlishman opened #22 "Underscores not showing on modal forms"
![underscores](https://cloud.githubusercontent.com/assets/2871146/20519297/a9ca529e-b0a2-11e6-8938-50fabfbc77c9.png)

[2016-11-22 11:20] bradlishman opened #23 "Update to Django 1.10.X"
Consider adding support for versions later than 1.7

[2016-11-23 12:52] mmcardle commented on #23
Hi @bradlishman

Yes I would like to update to django 1.10.X project, just haven't had time to do any testing on it.
Do you know of any specific things that don't work in a 1.10.X project?

Thanks,

[2016-11-23 15:53] bradlishman commented on #23
urls.py is an obvious one. I'll dig around a bit and see if I can find a decent overview of the impact between versions.

Ideally, builder would have a dropdown in the first part of the project setup flow where you could select which version you wanted to generate a project for... but that sounds like a lot of effort!

[2016-11-23 18:34] mr-bo-jangles opened #24 "Missing ImageField and FileField"

[2016-11-25 14:53] mmcardle commented on #22
hi @bradlishman

This might be a display issue
What browser and OS is this? I can't seem to recreate on OSX Safari/Chrome or Firefox

![screen shot 2016-11-25 at 14 53 03](https://cloud.githubusercontent.com/assets/1503478/20628615/eebcf928-b31e-11e6-8109-547f482c3a56.png)

[2016-12-04 15:27] mmcardle commented on #24
Hi this should be fixed now

[2016-12-04 15:28] mmcardle commented on #21
Hi i have pushed a change to add some of this functionality

[2016-12-05 15:25] bradlishman commented on #22
Chrome on Ubuntu.

[2016-12-07 01:04] soccer99 commented on #24
Pillow needs to be added to the pip requirements.txt file

[2016-12-07 01:06] soccer99 opened #25 "Django Generic Views url issue"
Generic detail view ModelDetailView must be called with either an object pk or a slug.

Urls are constructed with `<id>` rather than `<pk>` and cause an issue in the Details view

Django 1.10

[2016-12-09 08:07] fuzzy76 commented on #23
I guess it depends on which version most people would like to start a new project in. My guess would be atleast LTS-releases. So just bumping to 1.8 would probably make a lot of sense. And then 1.11 is the next LTS just around the corner...

[2016-12-15 13:18] bradlishman commented on #23
Is this complete now? The requirements file generated Django==1.10.3

[2017-02-17 10:45] TeddyBear06 commented on #25
+1

[2017-02-17 10:47] mmcardle commented on #25
Ill will have look at fixing this. Thanks

[2017-02-17 11:00] TeddyBear06 commented on #25
I found that in your build (django_builder.min.js) it still switching between slug or or and not pk as you declared in your app ;-)

Probably just need to another build.

[2017-02-17 11:35] TeddyBear06 commented on #24
👍

I think that @soccer99 is right.

Pillow is a wonderful library, we can count on it.

Probably just add something like that into django_builder/app/js/services.js (around line 1140) :

[code]

[2017-02-17 15:34] mmcardle commented on #25
right good spot, ill get another build up!

[2017-02-17 16:35] TeddyBear06 commented on #22
Hey @bradlishman,

I also try using Chrome on Ubuntu (Version 55.0.2883.87 Built on Ubuntu , running on Ubuntu 16.04 (64-bit)) and it works well.

![telechargement](https://cloud.githubusercontent.com/assets/1452474/23073923/6e022d84-f537-11e6-8e5c-997acdc1b60e.png)

As @mmcardle said, this might be a display issue.

Try to disable extensions, zoom at 100%, use a standard system font... Whatever c

[2017-02-17 18:16] mmcardle commented on #24
Done

[2017-02-17 18:16] #24 closed

[2017-02-17 18:18] mmcardle commented on #25
Done, might need a hard refresh to see the latest changes

[2017-02-17 18:18] #25 closed

[2017-02-17 18:18] #21 closed

[2017-02-17 18:19] #23 closed

[2017-02-18 08:53] bradlishman commented on #23
![image](https://cloud.githubusercontent.com/assets/2871146/23091872/02c83354-f5c0-11e6-8dcc-ebf61229fa66.png)

Just need to update the homepage. Still shows 1.7

[2017-05-08 14:25] zatanax opened #33 "Add the following models?"
not scroll for import model
in the code
`<div class="modal fade in" tabindex="-1" role="dialog" style="display: block;padding-left: 17px;">`
add overflow-y: auto;  to see the bottons buttons ok and cancel

[2017-07-10 17:31] VJPranay opened #34 "Not working with python 3 . urls.py", line 3, in <module> import api ModuleNotFoundError: No module named 'api'"
File "/home/vjpranay/django/TalentExam/HallTickets/urls.py", line 3, in <module>
    import api
ModuleNotFoundError: No module named 'api'

[2017-09-12 15:40] durm opened #35 "Generate RAML automatically"
it would be grate to generate RAML automatically on /doc endpoint, for example.

[2017-09-13 07:28] mmcardle commented on #35
Hi,
This sounds like an interesting idea, I haven't worked that much with RAML, do you have any examples of what you would expect from such a feature?

[2017-09-14 05:44] durm commented on #35
Unfortunatelly, I've not working example. But the goal is to have already documented rest endpoints with input/output schema specification, possible returning statuses declaration and examples as well.
Having those documentation any-one can easilly start to using your rest api w/o understanding  how it was imlenented. Just with taking look at the doc.

[2017-09-30 11:40] mmcardle commented on #34
Thinks this should be fixed now

[2017-09-30 11:40] #34 closed

[2017-10-05 14:25] nitrag opened #38 "Large modal, can't scroll"
When importing a large model(s), the bootstrap modal popup won't scroll.

fix:
[code]

So probably need to isolate that modal as an `#id` and add it to CSS.

AWESOME TOOL BTW!!!

[2017-10-26 18:55] mmcardle commented on #38
@nitrag hey this should be fixed now

[2017-10-26 18:55] #38 closed

[2017-10-26 18:56] mmcardle commented on #33
Fixed

[2017-10-26 18:56] #33 closed

[2018-01-04 00:12] marcolussetti opened #42 "Support for Django 2.x"
I'm not sure I'd be able to provide a comprehensive list of changes, as I'm only now picking up 2.x but it does seem like there's a significant number of incompatibilities w/ 1.x

[2018-01-04 09:12] mmcardle commented on #42
Hi @marcolussetti,
Thanks for your interest
This is something I would like to add but haven't had the time. Will hopefully get some time soon.

[2018-02-05 19:02] haakenlid commented on #42
There's one major deprecation that should be taken into accunt to make this 2.0 compatible.

But this is a trivial fix, since `on_delete` has been around for a while, and it's highly recommended to include in your relation fields anyway.

You might also want to use the new url routing syntax, but I don't think it's mandatory.

[2018-02-19 05:36] huochequan commented on #42
support 2.x will be great, thank you for your contribution.

[2018-03-19 10:00] mmcardle commented on #42
This should be live now

[2018-03-19 10:00] #42 closed

[2018-04-23 12:09] fabianrios opened #45 "support for JSONField and Hstore"
it'll be nice to support that for postgresql

[2018-04-28 16:45] mmcardle commented on #45
#46

[2018-04-28 16:46] #45 closed

[2018-04-30 10:32] mwolff44 opened #47 "Is it possible to define abstract models ?"
Hi,
Is it possible to define abstract models ?
Regards

[2018-04-30 10:39] mmcardle commented on #47
hi @mwolff44

Not currently, and we also can't import then https://github.com/mmcardle/django_builder/issues/16

This would be a useful feature.

[2018-04-30 10:41] mwolff44 commented on #47
thx for your answer

[2018-04-30 10:53] mwolff44 opened #48 "Postgresql datetimerange"
I saw that you have integrated postgresql special fields. Is it possible to add datetimerange too ?

[2018-04-30 10:58] mmcardle commented on #48
Ah yes i must have missed the range fields then going through
https://docs.djangoproject.com/en/2.0/ref/contrib/postgres/fields/

[2018-04-30 11:26] #48 closed

[2018-04-30 13:05] mwolff44 opened #50 "Is it possible to manage choices ?"
Is it possible to manage choices in models definition ? how can i do that ?

[2018-04-30 13:39] mmcardle commented on #50
If you click on the name of a model field there is a modal that pops up.
From there you can modify the arguments

```choices=(("option1", "1"), ("option2", "2"), ("option3", "3"))```

is that what you need?

[2018-07-25 01:13] iMerica opened #51 "License assignment"
Hi,

Is it an accident that the license is assigned to Google Inc?

Thanks,

Michael

[2018-07-25 08:32] mmcardle commented on #51
Yes it is an accident, probably copy paste from the angular template i used way back when it started.

Thanks

[2018-07-25 09:58] mwolff44 commented on #50
thanks

[2018-07-25 09:58] #50 closed

[2018-07-25 13:46] #51 closed

[2018-07-29 23:32] RichardBH opened #53 "ForeignKeys need Class name."
Hi, thank you for this great work. I use it a lot.
I would like to request that when a foreignkey relationship is created that the code includes the class Name.

For Example: (See below)  ` location = models.ForeignKey(on_delete=models.CASCADE)` should be `location = models.ForeignKey(**Location**, on_delete=models.CASCADE)`

[code]

[2018-07-31 17:10] mmcardle commented on #53
Hi
Thanks for this, i will take a look.

[2018-08-05 17:48] dkdndes opened #54 "Update of channel settings for redis"
Channel 2.0 Redis support is:

[code]
and not as currently stated. Somebody new might activate this option and wonder why it will not work.

[2018-08-06 08:40] mmcardle commented on #54
Yes thanks for pointing that out. I'll get it updated

[2018-09-08 13:17] huanghe2015 opened #55 "Support Django 2.1?"
How about the future plan of supporting Django 2.1?

[2018-10-11 15:18] awinner1 commented on #53
Also they are lost on the Models.py import / upload.

[2018-10-12 14:46] mmcardle commented on #53
Ok should be fixed for Models in the app

[2018-10-13 01:57] RichardBH commented on #16
Another, different? issue, is that when importing a models.py, say the one you just created with Django Builder, Relationship fields do not seem to be imported at all.

[2018-10-13 09:30] mmcardle commented on #16
I will take a look, Thanks!

[2018-12-07 09:55] delneg opened #57 "Support for python-module style models"
Currently, there is only 'upload models.py file' button, but my app has models split into different .py files under models module. Can we get support for that, too?

[2018-12-07 10:05] mmcardle commented on #57
Thats interesting, Yes it would be great if there was a `upload models folder` which grabbed the models from all files in the a folder.
As a workaround does it work when you load the files individually? ( i know that will be a pain if you have lots)

Also would you be expecting any future feature to keep your models split in separate files?

[2018-12-07 10:17] delneg commented on #57
I tried loading files individually, but the result is a mess...
Abstract & through models get mixed all the others, there's stuff like that in tests due to multiple abstract inheritance
`"employee": create_employee().pk,
 "employee": create_employee().pk,
 "employee": create_employee().pk,`
I will be trying to do models one-by-one, correcting all the fields in the interface (still faster than writ

[2018-12-07 10:19] delneg commented on #57
P.s. my app has 34 models at the moment, not counting ones from third-party apps & django.contrib models

[2018-12-07 10:31] delneg commented on #57
If you need any help, you can contact me via Telegram in my profile.
Also will try to look into this project to add the aforementioned functionality

[2019-01-21 13:10] Lairion opened #58 "Problem with import in model"
http://dl3.joxi.net/drive/2019/01/21/0026/0086/1724502/02/61567cbe1d.png

I mark duplicate in imports. It's feature or bug?

[2019-01-21 13:47] mmcardle commented on #58
That'a a bug! thanks for the report

[2019-02-16 22:24] majid-vaghari opened #59 "Django i18n in models"
Django provides translation features in models.

Using `gettext_lazy` when assigning `verbose_names` and `help` texts would help with internationalization.

[2019-02-16 22:24] majid-vaghari commented on #59
See this link on [model field translations](https://docs.djangoproject.com/en/2.1/topics/i18n/translation/#model-fields-and-relationships-verbose-name-and-help-text-option-values)

[2019-02-16 23:33] majid-vaghari opened #60 "Related Name Is Set to This Field Name as Default"
When you define a new foreign key relationship, the builder, automatically assigns the name of this field to [`related_name`](https://docs.djangoproject.com/en/2.1/ref/models/fields/#django.db.models.ForeignKey.related_name) attribute.

This behavior is confusing. Related name is:

The default behavior of Django is to set it to model name with `_set` suffix. It makes much more sense.

My suggestio

[2019-02-16 23:37] majid-vaghari commented on #60
Also, when I manually set `related_name` it just adds it along with the default. So it has two `related_name` properties. This seems to be a bug which may be present in other parts of the model builder.

If it's the case, another issue is needed on this mater

[2019-02-16 23:48] majid-vaghari opened #61 "Use Pipenv"
This builder doesn't currently use any package manager. It only lists the requirements in a `requirements.txt` file.

I think it would be good if it used [Pipenv](https://pipenv.readthedocs.io/).

[2019-02-18 16:10] mmcardle commented on #60
Thanks for the bug report
Working on a fix #62

[2019-02-18 17:02] #60 closed

[2019-02-24 23:44] darkpixel opened #63 "Minor improvement to template 'extends'?"
https://github.com/mmcardle/django_builder/blob/cd855f7edeb41f62e9e6af692a6eb1fb57509ec1/app/js/services.js#L1035

I think this should generate ```{% extends "appname/base.html" %}``` so each app can have it's own base template.  In a lot of apps, ```appname/base.html``` simply extends ```base.html```, but in several cases apps append or prepend stuff to ```{% block content %}``` or include javasc

[2019-02-25 14:15] mmcardle commented on #63
That sounds sensible, will take a look.
I think in order for the download to function straight out of the box, we would need to add a `base.html` file and an `appname/base.html` file to the tar file.

[2019-02-25 14:21] mmcardle commented on #61
Hi,
Thanks for the request.
I don't use pipenv so i would be confident in recommending it to be included automatically, but maybe could provide it as an optional feature when you download?

[2019-02-25 14:22] mmcardle commented on #55
Yes, this is in the pipeline.
I am currently doing a complete rewrite of the code, which should include the latest django version when it is done.

[2019-02-26 13:35] majid-vaghari commented on #61
It could be introduced as an option.

But, IMHO it's a better alternative than `requirements.txt`. I suggest you consider using it for your own projects ;)

[2019-03-06 02:55] tkovalsky commented on #55
If you’re going to go through these lengths i would be happy to help from a product development perspective

Have a great day,

Todd Kovalsky

[2019-03-06 12:29] mmcardle commented on #55
Thanks for the offer,

I am very close to having a prototype version ready for testing.

[2019-03-18 10:27] 331319341 opened #64 "When is Chinese supported?"
I am especially grateful for this project. English is not good. I hope to support Chinese. Thank you.

[2019-03-18 14:52] huanghe2015 commented on #64
Well,I think it is just a practice project for beginners.But the language pack feature can be supported in the future.
我认为这只是一个练手的项目，建议还是看完官方手册再回头来看这个项目。不过多语言的支持还是值得考虑的。

[2019-03-20 09:30] mmcardle commented on #64
I will take a look and see what i can do.

[2019-03-20 11:06] huanghe2015 commented on #64
The process called"Internationalization".

[2019-03-23 14:18] rajeshlal opened #65 "Import models.py does not retain ForeignKey relations"
Thanks for the great tool!

When I import a models.py from a previously exported project to make updates/additions, the ForeignKey relationships between models are not retained.

[2019-03-26 15:58] bglick13 opened #66 "Inline support for Many to Many Objects"
First off, this is a super cool tool! I'm just starting to explore all the functionality.

One thing I noticed is that while it seems to support ManytoMany fields, I often create ManytoMany objects instead, so that I can store other relevant information. To manage these relationships in the django admin, you often have to create custom views with TabularInlines.

Is that something you support, or

[2019-03-28 02:43] bglick13 opened #67 "Foreign Key Bug"
I'm actually not sure if this is a bug with Django or with the django_builder tool, but there's an issue with creating forms with foreign keys.

Specifically, Django (I'm on 2.1.7) has trouble creating forms with foreign keys where the model definition uses strings to define the related field instead of a reference to the related model class. It leads to the following error...

`ValueError: Cannot

[2019-03-28 09:48] mmcardle commented on #66
Yes definitely could support this in the new version

[2019-03-28 09:51] mmcardle commented on #67
Hi @bglick13 yes this is something that is mostly sorted out in the new version, I say `mostly` because you can make circular relationships which are hard to generate code for. Hopefully releasing an updated version soon.

[2019-03-28 12:14] bglick13 commented on #67
Awesome, thanks for the response(s)! I'm looking forward to checking out the new version.

By the way, if you are open to/looking for collaborators I'd be happy to participate. This really is an awesome tool

[2019-04-24 09:49] jameelgrand opened #68 "graphene support is much appreciated"
graphene support is much appreciated. if you start prototype we are ready to contribute

[2019-06-21 14:33] FluxIX opened #70 "Relationship Editing Error"
When editing s relationship the input for the target model name is a text field and does not provide the drop-down interface seen when creating a relationship.

[2019-06-21 14:34] FluxIX commented on #65
I have also experienced this.

[2019-06-21 19:22] FluxIX commented on #65
I looked a little into this. In the `ModelParserFactory`, the field regular expression (`^([a-zA-Z0-9_]+)\ \=\ ([a-zA-Z0-9._]+)[\(](.*)[\)]$`) does not match the generated relationships because the regular expression expects the entire relationship to be on a single line and the generated relationships because they cover multiple lines.

[2019-06-28 08:02] mmcardle commented on #70
This should be fixed now.

[2019-07-01 11:01] fcu-d0449763 commented on #19
@mmcardle
Hello, I have the same problem in Chinese.
The following is an example of Chinese

[code]

[2019-07-06 19:45] groundswel opened #72 "There is no way to enter a external foreign key"
First of all thank you for this project.

However one issue I faced is that there is no way to enter a external foreign key from the UI though it gives the hit on how to add it.

[2019-07-08 08:45] mmcardle commented on #72
Yup you are correct, thats a bug.
This used to work so think it has regressed.

[2019-07-11 11:38] #70 closed

[2019-07-11 11:38] mmcardle commented on #72
This should be fixed now

[2019-07-20 17:10] groundswel commented on #72
Cloned the latest version but still the same behaviour. You cannot enter anything in the input field.

[2019-10-11 04:06] jwmeidinger opened #77 "Upload Models.py"
When uploading the models.py the file is accepted and something happens, by the upload button but soon goes back to what it was before. Maybe i'm just using it wrong but does the file need to be blank? below is the file that i tried uploading. I also have some other questions on your program if you don't mind. I just followed you on twitter @J0rdanMeidinger

[models.txt](https://github.com/mmcardl

[2019-11-30 18:48] darkpixel opened #79 "Source mismatch between the repo and djangobuilder.io?"
https://djangobuilder.io appears to support Django 2.1.x.

When I go to to the About page and follow the github link, it takes me to this repo.  Cloning this repo and running it locally gives me a version that supports 2.0 and recommends I try https://djangobuilder.io.

Am I missing something, or is the latest source not available yet?

[2019-12-02 10:30] mmcardle commented on #79
Hi @darkpixel

Correct i haven't got round to publishing the source for https://djangobuilder.io
There are still a few steps i need to do to make it fit for consumption :)

[2019-12-02 16:46] darkpixel commented on #79
No worries--thanks!

[2020-01-10 13:53] jameelgrand commented on #68
any comments??

[2020-01-14 22:09] smeggingsmegger commented on #79
@mmcardle I would love to contribute when you do. Excellent project!

[2020-01-19 16:20] mmcardle commented on #79
I have just pushed the source for version 2 djangobuilder.io
Note: it requires a Firebase account

[2020-03-11 08:54] ranjanprj opened #81 "Adding Relationship between models such as ForeignKey inserts "undefined" in source code"
First of all really great tool for us beginner
When I add a simple ForeignKey relationship between two models
![image](https://user-images.githubusercontent.com/15071992/76398860-a0fd5f00-63a3-11ea-8338-d84361b0156e.png)

The source code generated has the word "undefined" before the model name in models.py
![image](https://user-images.githubusercontent.com/15071992/76398775-81663680-63a3-11ea-885a

[2020-03-11 09:11] mmcardle commented on #81
@ranjanprj glad you like the tool

Yes that looks like a bug, i will see if i can get it fixed!

[2020-03-11 10:04] mmcardle commented on #79
Closing as this is now complete

[2020-03-11 10:04] #79 closed

[2020-03-11 11:42] mmcardle commented on #81
This should be fixed now. try refreshing your browser.

[2020-03-18 11:22] #81 closed

[2020-03-26 15:32] dkdndes commented on #54
@mmcardle do you plan to support channels again within version 2. I saw its gone now? Hope its not my Redis question which triggered it.

[2020-03-26 16:49] mmcardle commented on #54
@dkdndes Yes i do want to support channels, It is a great app that I use a lot.
I just forgot to port it over in version 2 :)
Will see if I can get something up

[2020-04-09 14:49] mmcardle commented on #54
@dkdndes Pushed some changes for channels support

[2020-04-09 14:49] #54 closed

[2020-04-09 14:50] #61 closed

[2020-04-09 14:51] mmcardle commented on #55
Closing as current version supports django 2+

[2020-04-09 14:51] #55 closed

[2020-04-09 14:52] #58 closed

[2020-04-09 15:17] mmcardle commented on #67
New version pushed.

[2020-04-09 15:17] #67 closed

[2020-05-01 13:24] AnotherRandomTech opened #86 "DjangoBuilder.io - Minor Issue"
first off want to say how much a great app this is for building things fast and an amazing interface. didn't take me long to figure out. Ill add more to this as i come across them.

Minor Issue:
- When using UUIDField in models.py the "import uuid" is missing by default from the file.

[2020-05-01 13:37] mmcardle commented on #86
Thanks @AnotherRandomTech this is great feedback.
Keep adding to the list as you find them

[2020-05-01 21:58] salman-tbd opened #87 "Foreign key class based view not working"
If i comment foreign key field its working fine. but if i uncomment nothing save and even not given me any error

class tbl_branchCreateView(generic.CreateView):
    model = models.tbl_branch
    form_class = forms.tbl_branchForm

 def form_valid(self, form):
        form.instance.cid = "5"     //company id pass static
        return super(tbl_branchCreateView, self).form_valid(form)

[2020-05-01 23:52] dariosena opened #88 "Options in the Parent Models need UI update"
Steps:
- create an abstract model BaseModel
- create a model DerivedOne that extends from BaseModel
- rename BaseModel to Base
- create a new model DerivedTwo that extends from Base

Problem:
- The parent models options still have the BaseModel option for display[only]

branch: task/treeview

[2020-05-04 10:25] mmcardle commented on #86
@AnotherRandomTech Just to clarify are you using
Version 2 - http://djangobuilder.io/
Or Version 1 - http://mmcardle.github.io/django_builder/ ?

[2020-05-05 07:59] mmcardle commented on #88
@dariosena Thanks will take a look

[2020-05-05 08:56] AnotherRandomTech commented on #86
Using Version 2 at the official https://djangobuilder.io site.

[2020-05-24 04:50] #22 closed

[2020-05-24 06:24] darkpixel opened #90 "TypeError: this.addModel is not a function"
Trying to add an uploaded model into a project hangs on the "importing model" screen.
This is thrown in the javascript console:
[code]

[2020-05-24 06:27] darkpixel opened #91 "Old models never die"
I was signed in as an anonymous account.  When I removed all my projects and created a new one with a new name, the old models populated the top of the screen.

[2020-06-01 19:54] mmcardle commented on #91
Hi @darkpixel
Are these models you have imported from a models.py file?
The imported models are not attached to particular project so they persist, they can be deleted from the import screen.

[2020-06-02 22:26] darkpixel commented on #91
Yeah, I imported them from a models.py file.  There were literally somewhere around 300 models in this project.  We basically introspected a 3rd-party database and we use Django to access the data.  I was hoping to auto-generate a bunch of the boilerplate using django_builder, but it's forcing me to add every model by hand into an application.  Maybe I'm missing something...

[2020-06-03 07:50] mmcardle commented on #91
Ah yes I see how that could be frustrating.
To be honest I have only imported around 5 models max to test.

The flow is meant to be ->
* Upload a models.py file, any models found appear in a bar along the top.
* View the models in a dialog, choose which models to import and add the to an app.

What do you think would help in your situation (more than 1 might apply)
* Add all models found automatic

[2020-06-05 14:01] mmcardle commented on #88
@dariosena I think this is fixed now

[2020-06-16 01:11] darkpixel commented on #91
Sorry--I'm not ignoring you.  It's just been a busy couple of weeks.

I think those would all work, but I think it would be more efficient to upload directly to an app.

Basically models aren't a "project level" item.  They are application level.  When importing, they should probably be imported against an app directly without having to manually associate them.

I suppose someone might want to bre

[2020-06-16 14:37] mmcardle commented on #91
That makes total sense, and would tidy up the UI quite a bit.

[2020-06-30 14:12] #87 closed

[2020-07-19 10:39] mmcardle commented on #91
@darkpixel this should now be fixed, there is an `Upload` button when adding a model to an app.

[2020-07-19 22:15] darkpixel commented on #91
Nice!  I just checked out the live site.
Would it be too much to ask to have an "Add All" button on the screen that comes up after uploading models?  I want to load ~150 models, and don't want to keep clicking the "Add" button and waiting ~1 second for the page to refresh. :)

[2020-07-23 21:01] mmcardle commented on #91
@darkpixel
Agreed and done.

[2020-07-23 21:24] darkpixel commented on #91
It spent several minutes trying to import a bunch of models, and tossed this into dev tools:

![Screenshot from 2020-07-23 14-23-33](https://user-images.githubusercontent.com/158380/88340204-44666500-ccf0-11ea-8b95-3b51b9f19ce2.png)

[2020-07-24 16:10] mmcardle commented on #91
@darkpixel Will see if i can fix that, might have to do them in batches.
How many models and fields in total are you importing?

[2020-07-24 16:29] darkpixel commented on #91
196

[2020-09-09 09:55] mmcardle commented on #91
The issues with importing so many models is hitting the quota limits of the backend system (firebase).
Currently the free tier has hard limits when you get to the quota https://firebase.google.com/pricing .

[2020-09-12 20:58] dgleba opened #99 "Field Order"
Is there a way to re-order fields in the model when using https://djangobuilder.io/#/project/FJsbPtioNSAqK2SwRXIv ?

[2020-09-12 23:49] dgleba opened #100 "No migrations made"
https://djangobuilder.io/#/project/FJsbPtioNSAqK2SwRXIv

I download this project I made on your site.

I am using it in docker.
[code]

When I do this there are no migrations made for the blog app or the book-app app.

[2020-09-13 00:16] dgleba opened #101 "TemplateDoesNotExist blog/post_list.html"
I made one model called `book` and one called `Post`.

I am getting errors with the Post model.

The django tutorial Capitalizes model names.  https://docs.djangoproject.com/en/3.1/intro/tutorial02/

What is the correct way forward?

[code]

[2020-09-14 07:57] mmcardle commented on #100
Hi @dgleba I think `makemigrations` requires you to specifiy the applabel

https://docs.djangoproject.com/en/3.1/ref/django-admin/#django-admin-makemigrations

So in your case it would be

`docker-compose run --rm djdev python manage.py makemigrations blog book`

Does that work?

[2020-09-14 07:59] mmcardle commented on #99
Hi @dgleba

Thanks for the feedback, do you mean the order of the fields in the UI, or the order in the `models.py` output, or both? :)

[2020-09-14 08:09] mmcardle commented on #101
Hi @dgleba

I would recommend having capitalised models names, so `Book`.

Then if that does not fix the issues check the values of `TEMPLATES` setting in `settings.py` and make sure `'APP_DIRS': True,`
And check that the file `post_list.html` exists and is readable by your django process.

[2020-09-14 11:21] dgleba commented on #99
I would like to reorder them in the UI and then have the output models.py follow that order. So both.

[2020-09-14 11:27] mmcardle commented on #99
👍  Great i will see what i can do.

[2020-09-14 11:41] dgleba commented on #99
How about this for an idea to just get things going.

Always have one field selected/highlighted.  Allow the user to add before or after that field.

[2020-09-14 20:05] mmcardle commented on #101
Hi @dgleba i think this is a bug.
Thanks for the report

[2020-09-14 20:28] dgleba commented on #100
You may be right. I didn't try that yet.

I think that `manage.py startapp book` will create a migrations folder and __init.py__ file.

With that `manage.py makemigrations` is all that is necessary. All the necessary migrations will be made.

Can you create that file and folder in your https://djangobuilder.io ?

Thoughts?

[2020-09-14 20:45] mmcardle commented on #101
Fixed

[2020-09-14 20:45] #101 closed

[2020-10-04 13:05] dgleba opened #103 "Sorry, Too many models"
I got 404 error from github when creating this. I ended up with duplicate issue.

closing this one.

[2020-10-04 13:06] dgleba opened #104 "Sorry, Too many models"
I have only two projects. Each has two or less models.

I tried to add post model to blogapp which has only one model - book.
I used the upload button to try to add post model after book model was added by upload.

I get this error. Sorry, you have too many models in this app, maximum is 25.

![image](https://user-images.githubusercontent.com/4622715/95016372-9dbc1000-0620-11eb-8617-eed93a1e6324.p

[2020-10-04 14:17] dgleba opened #105 "Got two `Book` models when created a new project manually without upload"
I just made a new project and added a model `Book` by typing in the name `Book`, not using the upload button.

The picture shows the project name and the two `Book` models.

![image](https://user-images.githubusercontent.com/4622715/95016676-75351580-0622-11eb-91fe-92f5e19b536e.png)

[2020-10-04 14:18] #103 closed

[2020-10-04 15:13] dgleba opened #106 "Local field 'last_updated' in class 'Book' clashes with field of the same name from base class 'Post'."
I created a project from scratch.
I added Post model manually without using upload.
I added Book model with Post as parent.

I think the picture below shows the relevant info.

I get this error when running the project. What am I doing wrong? I think I just used the builder as you provide it.

[code]

![image](https://user-images.githubusercontent.com/4622715/95018056-0ad4a300-062b-11eb-835c-026dc

[2020-10-04 15:15] dgleba commented on #106
I used parent.
I removed that.

I have added a relationship - Foreign key - after creating both models.

[2020-10-04 15:58] dgleba opened #107 "Input is erased on validation and there is no book field"
I created the blogapp with Post and Book models with a foreign key so that each post could refer to a book.

In the pictures below there are two issues.

1. The foreign key is required but no field is on the template to create it with a dropdown or anything.

2. When the save button is pressed, the validation message comes up saying book_id is required.  The problem is that all input in fields has

[2020-10-05 12:35] mmcardle commented on #106
Hi @dgleba
Yes the relationships and structure of your models is up to you.
In Django you cannot have a field in a parent model that clashes with the field in the child model.
DjangoBuilder automatically adds `last_updated` and `created` for convenience, these can be deleted as required.

But in you case I think you want a relationship as you say.

[2020-10-05 12:35] #106 closed

[2020-10-05 12:36] mmcardle commented on #107
@dgleba I will take a look

[2020-10-05 12:37] mmcardle commented on #104
@dgleba I will take a look at this bug

[2020-10-11 18:35] dgleba commented on #107
Are you able to reproduce the problem is that all input in all fields has been erased when the validation message appears?

I have another app that has a javascript popup like the picture below. I can't figure out how to find docs/posts on what drives the difference. They are both modelforms. The views both say 'generic' in them, although they have slightly different imports and syntax.

![image](

[2021-01-16 21:56] chen369 opened #111 "websockets in Routing.py is not properly running in latest "Channels" package."

[2021-01-26 18:53] karbassi commented on #99
A "drag and drop" reordering would be great.

[2021-02-17 09:21] mmcardle commented on #111
Hey @chen369

Thanks for the report. I will check why that is happening.
Do you want to submit a PR to fix it?

[2021-02-17 09:23] mmcardle commented on #105
Hi @dgleba

Thanks for the report, it might be a bug where the button is not debounced so could be clicked twice in quick succession.
I will check if that might be the case.

[2021-02-17 11:10] chen369 commented on #111
Hey @mmcardle

Thanks for the reply,
I've submitted the updated PR with the Routing.py fix.

This script worked for me when I built it on myself hosted version.

[2021-04-17 03:20] azataiot opened #119 "How to self host without firebase"
I really love djangobuilder for building django models, but we have a problem -- in our work environment, we don't access to external data bases ( including firebase ) , we use internal databases hosted in the internal system.

I want to use django_builder, so I wanted to deploy the project internally, but as firebase itself is a google commercial product that dose not give you an option to host i

[2021-04-21 08:12] mmcardle commented on #119
Hi @azataiot

Thanks very much for your comments, It is great to see Django Builder being used.

Yes I have plans for a version 3 of Django Builder, that can be run in a docker setup locally, but I have only just started work on that. It would not use any external services. It you have any comments on what would you would like to see in a new version then let me know.

For now the only option for

[2021-04-21 08:16] azataiot commented on #119
Then I will work on v1 until you have done the docker deployed version of the app. by the way, it is very nice to have an app like django builder, and I think I will also participant in the development process of the django-builder in the near future as soon as I can consume some time on the project.

[2021-04-21 08:16] #119 closed

[2021-06-17 18:50] Reventlow commented on #99
I would love a reorder of the fields and also the modules

[2021-09-28 11:22] pdelporte opened #120 "new request : Add @property and/or functions"
Hello,
Thanks for the great job ;)
It would be nice if we could add @property fields and/or function to a model

[2021-09-29 08:17] pdelporte opened #121 "new request : Add DeleteView"
It would be also very nice to have the generic class DeleteView on the model.
i.e :

- model = Vat
- app = bills

[code]

[code]

[2021-09-29 17:41] mmcardle commented on #121
HI @pdelporte
That should be pretty simple to add, I will try to get that done.

[2021-09-29 18:20] #47 closed

[2021-09-29 18:21] mmcardle commented on #100
This is now complete

[2021-09-29 18:21] #100 closed

[2021-09-29 18:50] mmcardle commented on #121
@pdelporte Should be able to give it a try out on the live site

[2021-09-30 07:37] pdelporte commented on #121
Great thanks, it works perfectly.

[2021-09-30 07:37] #121 closed

[2021-09-30 09:10] mmcardle commented on #120
Hi @pdelporte

This one is a bit more tricky, I have tried to avoid adding arbitrary user supplies code as an input.
It is not something i could add easily at the minute,

Mark

[2021-10-03 19:16] pdelporte opened #129 "New request : add foreign key to "settings.AUTH_USER_MODEL""
Hello,
I have changed my default User class so when I want to have a foreign key to "User" I have to define 👍

`author = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.CASCADE, related_name='posts')`

Would it possible to have it in the list "Relationship to" ?
![Screenshot 2021-10-03 at 21 14 25](https://user-images.githubusercontent.com/12631430/135768222-cb555fe2-79a7-410f-b455-ed

[2021-10-03 19:21] pdelporte opened #130 "New Request : add checkbox for field properties null and blank and default value"
Hello,
Often we want to explicitly defined a field as null=True and/or blank=True
The same for a default value ?
Would it be possible to add two checkboxes and a textfield to automatically add those arguments to the field ?
![Screenshot 2021-10-03 at 21 17 38](https://user-images.githubusercontent.com/12631430/135768372-c3de0dc9-ec34-4f3b-bb55-a084f0e4ab80.png)

[2021-10-04 20:12] andymc100 commented on #65
I tried putting the foreign keys into one line but still not getting recognised.

[2021-10-14 23:21] rjmoggach opened #131 "OneToOneField?"
Is there a reason for no `OneToOneField`?

[2021-10-14 23:22] #131 closed

[2021-10-14 23:23] rjmoggach commented on #131
ignore me.

[2021-12-14 16:12] enemali opened #133 "Window Installer"
Can there be a one click window installer that uses SQLite database.
This will enable us to easily create models without going online

[2021-12-29 08:57] #120 closed

[2022-02-07 06:07] askpatrickw opened #134 "djangobuilder.io: No text in privacy \ cookies pop-up"
The privacy pop-up has no text.

iPad Pro (11-inch) (3rd generation)
IOS 15.3
Firefox Daylight 96.0 (7403)

![9EBF0260-16EF-4735-93CF-0BE37D87BE81](https://user-images.githubusercontent.com/4002194/152733524-87224c5a-65bb-4fa4-b1d2-b44500da7c4a.jpeg)

[2022-06-03 11:03] gnud opened #143 "javascript API to create models/append fiels through console"
Is it possible to include official javascript code, for instance, lets say we have csv based data (from url or from local machine pasted) and we want to generate them using javascript.

This could help speeding up the development even faster.

[2022-08-08 14:10] nikolaysm opened #145 "GeoDjango Model API"
Hi,

Thanks for sharing this great app.

It would be useful to add support for  GeoDjango Model Fields.

[GeoDjango Model API](https://docs.djangoproject.com/en/dev/ref/contrib/gis/model-api/#module-django.contrib.gis.db.models)

[2022-08-11 18:59] mmcardle commented on #145
Hi @nikolaysm

That sounds quite possible, what version/deployment of the app are you using?

[2022-08-11 20:07] nikolaysm commented on #145
I am using Django Builder v2.

[2022-08-17 07:56] mmcardle commented on #145
Hi @nikolaysm

Should be fixed now with #146

[2022-08-17 07:57] mmcardle commented on #134
Thanks @jonashaag

Should be fixed now with #146

[2022-08-17 08:16] askpatrickw commented on #134
looks fixed now

[2022-08-17 08:16] #134 closed

[2022-08-17 12:34] #145 closed

[2022-08-29 13:45] nikolaysm opened #150 "GIS fields: FirebaseError: Function DocumentReference.update() called with invalid data."
Whet I try to add a GIS field, I got the below error:

`FirebaseError: Function DocumentReference.update() called with invalid data. Unsupported field value: undefined (found in field args in document fields/lSEvLd3dSnH21hHmw8Ao)`

<img width="1208" alt="image" src="https://user-images.githubusercontent.com/3074155/187213649-74309cb5-3583-42c1-9d15-d78d16e4d25f.png">

Possible Firebase security ru

[2022-08-30 10:12] mmcardle commented on #150
@nikolaysm

Thats great, I hadn't had the time yet to investigate. Glad you found a way to get it working.

[2022-08-31 18:50] ccjcan opened #151 "Such a great tool !"
Do you intend to upgrade it to Django 3.0 code?

[2022-08-31 19:31] mmcardle commented on #151
HI @ccjcan
Thanks, We should already support Django 3.X code, there is a checkbox on the project to change between Django 2 and 3.
The next step would be to drop Django 2.X and support Django 4.X

[2022-09-13 18:27] sc68cal opened #152 "Relationships need to be added to CRUD templates"
When creating models with ForeignKey relationships, the generated templates need to have a field for those relationshps. For example, the following models were created via https://djangobuilder.io/ and the following `models.py` was generated (some details removed for brevity)

[code]

However, the view templates that are generated are missing these `ForeignKey` fields and had to manually be added

[2022-09-15 19:23] mmcardle commented on #152
👍 Thanks @sc68cal , will update

[2022-09-29 19:33] sc68cal commented on #152
The fields also need to be added to the Serializer classes that drives the django REST API framework.

[2022-10-09 14:02] mmcardle commented on #152
https://github.com/mmcardle/django_builder/pull/155

[2022-10-12 13:11] #152 closed

[2022-10-19 19:18] mmcardle commented on #151
4.X support is now live

[2022-10-19 19:18] #151 closed

[2022-10-19 19:19] mmcardle commented on #143
I like this idea, extracting the rendering code to a stand alone cli that can read from different sources

[2022-10-20 14:00] sc68cal opened #163 "Files are created with executable bit"
Files like the HTML templates should not be mode 755

[2022-10-20 16:43] mmcardle commented on #163
Yeh, looks like need to change options
https://www.npmjs.com/package/tar-js#usage-guide

https://github.com/mmcardle/django_builder/blob/20c3cc693f5a8e1bf597c46938d2ab7cbe3ef06f/src/tar/index.js#L18

[2022-10-31 18:42] sc68cal opened #166 "Randomy generate a secret key for each project export"

[2022-11-11 12:34] rafaelcascalho commented on #166
Is this one taken? I guess I could get it to make this small contribution.

[2022-11-11 18:27] sc68cal commented on #166
Go for it

[2022-11-11 22:04] #163 closed

[2022-11-13 15:00] mmcardle commented on #143
#170 I have made a start on this, just a very basic CLI command at the minute

[2022-11-17 07:17] MiBSchmidt opened #171 "Model2Form in forms.py"
Hello,
All my classes in the forms.py have the following __init__ function:

[code]

The forms.py was generated automatically and I haven't changed it
The problem is that there is no superclass called Model2Form in forms.py or in my project. This leads to an error when ever one of the classes inside the forms.py is called.
What is the Model2Form?
How do I solve this Problem?
Thx
Michael

[2022-11-18 20:37] mmcardle commented on #171
Hi @MiBSchmidt

I think you found a bug, will try to update

[2022-11-18 20:45] mmcardle commented on #171
Looks like an issue with the last deploy, hopefully should be fixed now

[2022-11-24 10:06] RobSisson opened #173 "Non-Firebase bugs - happy to help fix"
Hi; love the project!

Just want to preface this with the fact I'm pretty new to Django, and basically everything I'm talking about here I've figured out from trial and error, so there is more than likely some significant errors in my logic. I also based my changes directly from the documentation, which in some cases may be overly simplistic or not as fit for purpose as what is written, however I'

[2022-11-24 13:45] mmcardle commented on #173
HI @RobSisson ,

Thanks so much for your feedback, what you are saying makes a lot of sense.
I will comment on some of the bugs/issues in separate comments later.

But on the general firebase comments I am working on separating the code into multiple libraries in a single monorepo which would make it easier to understand and to extend.
So far this would consist of the following

- @djangobuilder/c

[2022-11-24 18:07] RobSisson commented on #173
Hey @mmcardle, thanks for your reply,

Love the logic and totally understand the idea behind it, defo a nice idea to split things out into the presented libraries.

From my perspective, I'd appreciate the web ui being preserved as I find the visual interface really useful for quickly planning and editing, especially as I'm reasonably new to Django. Also the interface you already have developed wor